# VerificationResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**result** | **boolean** |  | [default to undefined]

## Example

```typescript
import { VerificationResult } from './api';

const instance: VerificationResult = {
    result,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
